<br>
<table summary="form fields" class="col-sm-10 col-offset-1">
  <div class="row custompads">

   <div class="form-row col-sm-12">
       <%= f.text_field(:title, :placeholder => 'Event Name') %> 
    </div>
    <div class="form-row col-sm-4">
       Day 
       <%= f.select(:daycount, 1..2) %>
    </div>    
    <div class="form-row col-sm-4">
       Time 
       <%= f.datetime_select(:time, :order => [:hour, :minute]) %> 
    </div>
    <div class="form-row col-sm-4">
       Department 
       <%= f.select(:dept, '<option value="Computer Science">Computer Science</option><option value="Electronics">Electronics</option><option value="Electrical">Electrical</option><option value="General">General</option>'.html_safe) %> 
    </div>
    <br>
    <div class="form-row col-sm-4">
       <%= f.text_field(:place, :placeholder => 'Venue/Location') %> 
    </div>
    <div class="form-row col-sm-4">
       <%= f.text_field(:incharge, :placeholder => 'Incharge Name') %> 
    </div>
    <div class="form-row col-sm-4">
       <%= f.text_field(:inchargecontact, :placeholder => 'Contact Number') %> 
    </div>
    <div class="form-row col-sm-4">
    Event Mode
         <%= f.select(:eventmode, '<option value="workshop">WorkShop</option><option value="competition">Competitions</option><option value="exhib">Exhibitions</option><option value="general">General</option>'.html_safe) %>
    </div>
    <div class="form-row col-sm-4">
       <%= f.text_field(:target, :placeholder => 'Number Of Seats') %> 
    </div>
    <div class="form-row col-sm-4">
       <%= f.text_field(:prize, :placeholder => 'Prize Money(INR)') %> 
    </div>
    <div class="form-row col-sm-8"> 
       <%= f.text_field(:about, :placeholder => 'About the event | 200 Words') %> 
    </div>
    <div class="form-row col-sm-4">
       <p> Group Event?
       <%= f.check_box(:groupornot, :placeholder => 'Group Event?') %></p>
    </div>
    
  </div>
</table>
