<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% @page_title = "Delete Event" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<section class ="container-fluid">
	<div class="row page-block BGsecondary">
	  <% if(session[:permission]==3 || session[:permission]==2) %>
		<h1 class="col-lg-12 text-center">DELETE EVENT</h1>
			<div class="col-sm-12 text-center">
		  	<%= form_for(:event, :url => {:action => 'destroyevent', :id => @event.id}) do |f| %>

		    <p>Are you sure you want to permanently delete this event?</p>

		    <h2 class="reference-name"><%= @event.title %></h2>

    		<div class="col-sm-12 cust_reg_pads">
			    <%= submit_tag("Delete Event", class: "btn btn-dark btn-lg") %>
			</div>

		  <% end %>
		<%else%>
		    <div class="customperdin text-center">
  		  	<h1>
  		  		PERMISSION DENIED
  		  	</h1>
  		  	<h2>
  		  		you stupid, idiot, in the house of my wife and daughter you will not see any minitue of the today.
  		  		<br>Irangi Poda!
  		  		<br><a href="http://cecmagnum.com/admin">BACK</a>
  		  	</h2>
  		  	</div>
		<%end%>
			</div>
	</div>
</section>