<% @page_title = "Generate CSV" %>

<%= link_to("<< Back", {:action => 'index'}) %>

<section class ="container-fluid">
  <div class="row page-block BGsecondary">
    <div class="col-sm-12  cust_reg_pads">
    	<h1>DONWLOAD CSV FILE</h1>
    	<br>
    	<br>

        <%= link_to("DOWNLOAD", class: "btn btn-dark btn-lg", :action => 'downfile') %>
    </div>
  </div>
</section>
