<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @page_title = "Update Subject" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<section class ="container-fluid">
	<div class="row page-block BGsecondary">
		<div class="col-lg-12 contactForm" id="contact_form">
	 	  <h1 class="text-center cust_reg_pads2">CREATE EVENT</h1>

			<% if(session[:permission]==3 || session[:permission]==2) %>

			  <%= form_for(:event, :url => {:action => 'updateevent', :id => @event.id}, :html => { :multipart => true }) do |f| %>

			  <%= render(:partial => "form", :locals => {:f => f}) %>

    		<div class="col-sm-12 cust_reg_pads">
			    <%= submit_tag("Update Event", class: "btn btn-dark btn-lg") %>
			</div>
			<% end %>

		    <% else %>
		    <div class="customperdin text-center">
  		  	<h1>
  		  		PERMISSION DENIED
  		  	</h1>
  		  	<h2>
  		  		you stupid, idiot, in the house of my wife and daughter you will not see any minitue of the today.
  		  		<br>Irangi Poda!
  		  		<br><a href="http://cecmagnum.com/admin">BACK</a>
  		  	</h2>
  		  	</div>
  		  	<%end%>
		</div>
	</div>
</section>

