<% if flash[:notice] %>
    <div class="bg-info"><%= flash[:notice] %></div>
<% end %>
  <div class="container">
    <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 logo">
                <a title="company Logo"><img class="img-responsive" src="../img/magnum-logo.png" style = "height:80px; padding:20px" alt="Company Logo" /></a>
            </div>
          <div class="col-md-9 col-sm-8 col-xs-6 rightnav">
              <ul class="list-inline">
                        <li><%= link_to("Log Out", {:controller => 'access', :action => 'logout'})%></li>
      <% if(session[:permission]==3 ) %>
      <li><%=link_to("New Admin", {:controller => 'admin', :action => 'newadmin'}) %> </li>
      <%end%>
      <% if(session[:permission]==3 || session[:permission] ==2) %>
      <li><%=link_to("New Event", {:controller => 'admin', :action => 'newevent'}) %></li>
      <li><%=link_to("Messages", {:controller => 'admin', :action => 'messages'})%></li>
      <%end%>
      <li><%= link_to("Generate CSV", {:action => 'csvgen'}) %></li>
                </ul>
            </div>
        </div><!-- end row -->
  </div><!-- end container -->
<hr>

















<div class="row">
<div class="col-lg-12">
<% if(session[:permission]==3 ) %>

<h1 class="customh1">Events.</h1>
  <table class="table custompads" summary="event list">
    <tr class="header">
      <th>id</th>
      <th>Event</th>
      <th>Time</th>
      <th>Day</th>
      <th>Department</th>
      <th>Venue</th>
      <th>Incharge</th>
      <th>Incharge phone</th>
      <th>Prize</th>
      <th>Event Mode</th>
      <th>Last Updated</th>
      <th>Actions</th>
    </tr>
    <% @events.each do |event| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.time %></td>
      <td><%= event.daycount %></td>
      <td><%= event.dept %></td>
      <td><%= event.place %></td>
      <td><%= event.incharge %></td>
      <td><%= event.inchargecontact %></td>
      <td><%= event.prize %></td>
      <td><%= event.eventmode %></td>
      <td><%= event.updated_at %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'showevent', :id => event.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'editevent', :id => event.id}, :class => 'action edit') %><br>
        <%= link_to("Delete", {:action => 'deleteevent', :id => event.id}, :class => 'action delete') %>
      </td>
    </tr>

    <% end %>
  </table>

<h1 class="customh1">Admins</h1>
<table class="table custompads" summary="admin list">
	<tr class="header">
		<th>Name</th>
		<th>Username</th>
		<th>Department</th>
	</tr>
	<% @admins.each do |admins| %>
	<tr class="<%= cycle('odd','even') %>">
	   	<th><%= admins.name %></th>
	   	<th><%= admins.username %></th>
	   	<th><%= admins.dept %></th>
	</tr>
	<%end%>
</table>
 <h1 class="customh1">Incharges</h1>
 
 

  <table class="table custompads" summary="event list">
    <tr class="header">
      <th>Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Event Name</th>
      <th>1st Prize</th>
      <th>2nd Prize</th>
      <th>3rd Prize</th>
      <th>4th Prize</th>
      </tr>
    <% @incharges.each do |incharge| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= incharge.name %></td>
      <td><%= incharge.username %></td>
      <td><%= incharge.email %></td>
      <td><%= incharge.event_name %></td>
      <td><%= incharge.prizeone %><br><%= incharge.prizeoneshared%></td>
      <td><%= incharge.prizetwo %><br><%= incharge.prizetwoshared%></td>
      <td><%= incharge.prizefour %></td>
    </tr>
    <% end %>
  </table>

<h1 class="customh1">Registrations</h1>
<h2>
  <%= link_to("CLICK HERE FOR SEEING THEM ALL", {:controller => 'admin', :action => 'regfull'}) %>
</h2>
<%end%>

</div>
</div>








<div class="row">
    <% if session[:permission] ==2 %>

     <h1 class="customh1">events</h1>
        <table class="table custompads">
          <tr class="header">
            <th>id</th>
            <th>Event</th>
            <th>Time</th>
            <th>Day</th>
            <th>Department</th>
            <th>Venue</th>
            <th>Incharge</th>
            <th>Incharge phone</th>
            <th>Prize</th>
            <th>Event Mode</th>
            <th>Last Updated</th>
            <th>Actions</th>
          </tr>
          <% @events.each do |event| %>
          <% if session[:adminbranch] == event.dept %>
           <tr class="<%= cycle('odd', 'even') %>">
              <td><%= event.id %></td>
              <td><%= event.title %></td>
              <td><%= event.time %></td>
              <td><%= event.daycount %></td>
              <td><%= event.dept %></td>
              <td><%= event.place %></td>
              <td><%= event.incharge %></td>
              <td><%= event.inchargecontact %></td>
              <td><%= event.prize %></td>
              <td><%= event.eventmode %></td>
              <td><%= event.updated_at %></td>
              <td class="actions">
                <%= link_to("Show", {:action => 'showevent', :id => event.id}, :class => 'action show') %>
                <%= link_to("Edit", {:action => 'editevent', :id => event.id}, :class => 'action edit') %><br>
                <%= link_to("Delete", {:action => 'deleteevent', :id => event.id}, :class => 'action delete') %>
              </td>
           </tr>
          <%end %><%end %>
        </table>
     <h1 class="customh1">Incharges</h1>
 
       <table class="table custompads" summary="event list">
       <tr class="header">
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Event Name</th>
        <th>1st Prize</th>
        <th>2nd Prize</th>
        <th>3rd Prize</th>
        <th>4th Prize</th>
        </tr>
       <% @incharges.each do |incharge| %>
       <% if incharge.dept == session[:adminbranch] %>

       <tr class="<%= cycle('odd', 'even') %>">
        <td><%= incharge.name %></td>
        <td><%= incharge.username %></td>
        <td><%= incharge.email %></td>
        <td><%= incharge.event_name %></td>
        <td><%= incharge.prizeone %><br><%= incharge.prizeoneshared%></td>
        <td><%= incharge.prizetwo %><br><%= incharge.prizetwoshared%></td>
        <td><%= incharge.prizefour %></td>
       </tr>

       <% end %>
       <% end %>
       </table>
    <%end%>
</div>









<% if (session[:permission] == 1 || session[:permission] == 2)%>

<h1>Registrations</h1>
<hr>
   <table class="table custompads" summary="event list">
    <tr class="header">
      <th>Name</th>
      <th>Branch</th>
      <th>College</th>
      <th>Semester</th>
      <th>Workshop</th>
      <th>Team Name</th>
      <th>Event 2</th>
      <th>Event 3</th>
      <th>Event 4</th>
      <th>Event 5</th>
      <th>Event 6</th>
      <th>Event 7</th>
      <th>Event 8</th>
      <th>Event 9</th>
      <th>Accomodation?</th>
    </tr>
    <% @registers.each do |register| %>
    <% if(@inchevename == register.event1 || @inchevename == register.event2 || @inchevename == register.event3 || @inchevename == register.event4 || @inchevename == register.event5  || @inchevename == register.event6 || @inchevename == register.event7 || @inchevename == register.event8 || @inchevename == register.event9 || @inchevename == register.event10) %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= register.name %></td>
      <td><%= register.branch %></td>
      <td><%= register.college %></td>
      <td><%= register.sem %></td>
      <td><%= register.event1 %></td>
      <td><%= register.groupname1 %></td>
      <td><%= register.event2 %></td>
      <td><%= register.event3 %></td>
      <td><%= register.event4 %></td>
      <td><%= register.event5 %></td>
      <td><%= register.event6 %></td>
      <td><%= register.event7 %></td>
      <td><%= register.event8 %></td>
      <td><%= register.event9 %></td>
      <td><%= register.acco %></td>
    </tr>
    <% end %>
  <% end %>
  </table>




<%end%>