<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<% if(session[:permission] ==3) %>
		<br>
		<h1>MESSAGES</h1>
		<br>
		<br>
			<% @messages.each do |messg| %>
			<table class="table">
				<tr><%= messg.id %>&nbsp;<%= messg.name%></tr>
				<tr>
					<td><%= messg.email %></td>
					<td><%= messg.phone %></td>
				</tr>
				<td><%= messg.message%></td>
				<td><%= link_to("Reply", 'mailto:#{messg.email}') %></td>
			</table>
			<%end%>
		<%else%>
  		  <div class="customperdin text-center">
  		  	<h1>
  		  		PERMISSION DENIED
  		  	</h1>
  		  	<h2>
  		  		you stupid, idiot, in the house of my wife and daughter you will not see any minitue of the today.
  		  		<br>Irangi Poda!
  		  		<br><a href="http://cecmagnum.com/admin">BACK</a>
  		  	</h2>
  		  </div>
		<%end%>

	</div>
</div>