<% @page_title = "New Admin" %>

<%= link_to("<< Back", {:action => 'index'}) %>

<section class ="container-fluid">
  <div class="row page-block BGsecondary">
  
      <% if(session[:permission]==3 ) %>

      <%= form_for(:admin, :url => {:action => 'createadmin'}) do |f| %>
       <table summary="Admin form fields">
         <div class="form-row col-sm-4">
           <%= f.text_field(:first_name, :placeholder => 'First Name') %>
         </div>
         <div class="form-row col-sm-4">
           <%= f.text_field(:last_name, :placeholder => 'Last Name') %>
         </div>
         <div class="form-row col-sm-4">
           <%= f.text_field(:username, :placeholder => 'Username') %>
         </div>
        <div class="form-row col-sm-4">
          Department
          <%= f.select(:dept, '<option value="Computer Science">Computer Science</option><option value="Electronics">Electronics</option><option value="Electrical">Electrical</option><option value="General">General</option>'.html_safe) %>
        </div> 
         <div class="form-row col-sm-4">
           <%= f.text_field(:email, :placeholder => 'Email') %>
         </div>
         <div class="form-row col-sm-4">
           <%= f.text_field(:password, :placeholder => 'Password | Carefull | No Second Chances') %>
         </div>

    </table>
    <div class="col-sm-12 cust_reg_pads">
      <%= submit_tag("Create Admin", class: "btn btn-dark btn-lg") %>
    </div>
      <% end %>
      <%else%>
    <br>
      <h1>PERMISSION DENIED</h1>

    <%end%>  
  </div>
</section>
