<% @page_title = "New Event" %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<section class ="container-fluid">
	<div class="row page-block BGsecondary">
		<div class="col-lg-12 contactForm" id="contact_form">
	 	  <h1 class="text-center cust_reg_pads2">CREATE EVENT</h1>

			<% if(session[:permission]==3 || session[:permission]==2) %>

			  <%= form_for(:event, :url => {:action => 'createevent'}, :html => { :multipart => true }) do |f| %>

			  <%= render(:partial => "form", :locals => {:f => f}) %>

			    <div class="col-sm-12 cust_reg_pads">
			      <%= submit_tag("Create Event", class: "btn btn-dark btn-lg") %>
			    </div>

			  <% end %>
			 
			<% else %>
				<br>
				<h1>PERMISSION DENIED</h1>
			<%end%>
		</div>
	</div>
</section>
