<% @page_title = "Event Incharge" %>
<% if flash[:notice] %>
    <div class="notice"></div><%= flash[:notice] %></div>
<% end %>

</div><%= link_to("<< Back", {:action => 'index'}) %>
<%if (session[:permission] == 2 || session[:permission] == 3) %>
<section class ="container-fluid">
  <div class="row page-block BGsecondary">
    <div class="col-lg-12 contactForm" id="contact_form">
      <h1 class="text-center cust_reg_pads2">CREATE INCHARGE</h1>
          <%= form_for(:incharge, :url => {:action => 'createincharge'}) do |f| %>
            <table summary="Admin form fields">
             <div class="form-row col-sm-4">
               <%= f.text_field(:first_name, :placeholder => 'First Name') %>
             </div>
             <div class="form-row col-sm-4">
               <%= f.text_field(:last_name, :placeholder => 'Last Name') %>
             </div>
             <div class="form-row col-sm-4">
               <%= f.text_field(:username, :placeholder => 'User Name') %>
             </div>
             <div class="form-row col-sm-6">
               <%= f.label(:dept, "Event Department") %>
               <%= f.select(:dept, '<option value="Computer Science">Computer Science</option><option value="Electronics">Electronics</option><option value="Electrical">Electrical</option><option value="General">General</option>'.html_safe) %>
             </div>
            <div class="form-row col-sm-6">
               <%= f.label(:event_name, "Event Name") %>
               <%= f.select('event_name', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select', :placeholder => 'Event')  %>
             </div>
             <div class="form-row col-sm-6">
               <%= f.text_field(:email, :placeholder => 'Email') %>
             </div>
             <div class="form-row col-sm-6">
               <%= f.text_field(:password, :placeholder => 'Password | Carefull | No second chances') %>
             </div>

            </table>

          <div class="col-sm-12 cust_reg_pads">
            <%= submit_tag("Create Incharge", class: "btn btn-dark btn-lg") %>
          </div>
          <% end %>
    </div>
  </div>
</section>
<%else%>

<div class="row">
  <div class="col-sm-12 text-center">
          <h1 class="customredhead">
            PERMISSION DENIED
          </h1>
          <h2>
            you stupid, idiot, in the house of my wife and daughter you will not see any minitue of the today.
            <br>Irangi Poda!
            <br><a href="http://cecmagnum.com/admin">BACK</a>
          </h2>
  </div>
</div>

<%end%>