  <h1 class="customh1">Registrations</h1>
  <table class="table custompads" summary="event list">
    <tr class="header">
      <th>Name</th>
      <th>Branch</th>
      <th>College</th>
      <th>Semester</th>
      <th>Event 1</th>
      <th>Team Name</th>
      <th>Event 2</th>
      <th>Event 3</th>
      <th>Event 4</th>
      <th>Event 5</th>
      <th>Event 6</th>
      <th>Event 7</th>
      <th>Event 8</th>
      <th>Event 9</th>
      <th>Accomodation?</th>
    </tr>
    <% @registers.each do |register| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= register.name %></td>
      <td><%= register.branch %></td>
      <td><%= register.college %></td>
      <td><%= register.sem %></td>
      <td><%= register.event1 %></td>
      <td><%= register.groupname1 %></td>
      <td><%= register.event2 %></td>
      <td><%= register.event3 %></td>
      <td><%= register.event4 %></td>
      <td><%= register.event5 %></td>
      <td><%= register.event6 %></td>
      <td><%= register.event7 %></td>
      <td><%= register.event8 %></td>
      <td><%= register.event9 %></td>
      <td><%= register.acco %></td>
    </tr>
    <% end %>
  </table>
