<% @page_title = "Show Event" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<section class ="container-fluid">
  <div class="row page-block BGsecondary">
    <div class="col-lg-10 col-lg-offset-1 ttr text-center">
      <h1 class="text-center cust_reg_pads2"><%= @event.title %></h1>
      <br>
            <div class="col-sm-6 text-right">
              Time
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.time %>
            </div>
            <div class="col-sm-6 text-right">
              Day
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.daycount %>
            </div>
            <div class="col-sm-6 text-right">
              Department
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.dept %>
            </div> 
            <div class="col-sm-6 text-right">
              Venue
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.place %>
            </div>
            <div class="col-sm-6 text-right">
              Incharge
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.incharge %>
            </div>
            <div class="col-sm-6 text-right">
              About
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.about %>
            </div>
            <div class="col-sm-6 text-right">
              Created
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.created_at %>
            </div>
            <div class="col-sm-6 text-right">
              Updated
            </div>
            <div class="col-sm-6 text-left">
              <%= @event.updated_at %>
            </div>
            <div class="col-sm-6 text-left">
              <% if(@event.groupornot == true) %>
              This is a group event.
              <%else%>
              Not a group event.
              <%end%>
            </div>
    </div>
  </div>
</section>