<% @page_title = "Login" %>

<section class ="container-fluid">
<div class="row page-block BGsecondary">
	<div class="row text-center">
		<div class="custompads">
			<h1>WELCOME! Thanks for making MAGNUM happen!</h1>
			<hr>
			<h3>This is what you can do.</h3>
		</div>
	</div>
	<div class="row custompads text-center">
      <div class="col-lg-4"><h1><%= link_to("Go to Admin Menu", :controller => 'admin') %></h1></div>
    <% if(session[:permission]==3 ) %>
      <div class="col-lg-4"><h1><%=link_to("New Admin", {:controller => 'admin', :action => 'newadmin'}) %></h1></div>
    <%end%>
    <% if(session[:permission]==3 || session[:permission]==2 ) %>
      <div class="col-lg-4"><h1><%=link_to("New Event", {:controller => 'admin', :action => 'newevent'}) %></h1></div>
      <div class="col-lg-4"><h1><%=link_to("Messages", {:controller => 'admin', :action => 'messages'})%></h1></div>
    <%end%>
      <div class="col-lg-4"><h1><%= link_to("Generate CSV", {:controller => 'admin', :action => 'csvgen'}) %></h1></div>
      <div class="col-lg-4"><h1><%= link_to("Log Out", {:controller => 'access', :action => 'logout'})%></h1></div>
    </div>
</div>
</section>