<% @page_title = "Login" %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>


<section class ="container-fluid">
	<div class="row page-block BGsecondary">
		<div class="col-lg-12 contactForm" id="contact_form">
	 	  <h1 class="text-center cust_reg_pads2  text-center">LOGIN</h1>
			   
				<div class="col-lg-4 col-lg-offset-4">
					<%= form_tag(:action => 'attempt_login') do%>

							<div class="form-row col-sm-6"><h6>Login User name</h6></div>
							<div class="form-row col-sm-6"><%= text_field_tag(:username) %></div>
						
							<div class="form-row col-sm-6"><h6>Login Password</h6></div>
							<div class="form-row col-sm-6"><%= password_field_tag(:password) %></div>
							
							<div class="form-row col-sm-4">&nbsp;</div>
							<div class="form-row col-sm-4"><%= submit_tag("Login", class: "btn btn-dark btn-lg") %></div>
							 
					<%end%>
				</div>
		</div>
	</div>
</section>