<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>:: Magnum 2015 - College of Engineering Chengannur ::</title>
<meta name="description" content="Magnum is the technical extravaganza of College of Engineering, Chengannur. Being one of its kind, Magnum is an endeavor to provide a national platform to the youth to showcase their talents and skill sets in the field of technology.">
<meta name="keywords" content="techfest, event, enjoying, college, fun, technical, extravaganza">
<meta name="author" content="CEC WebTeam">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/color.css" />
<link rel="stylesheet" href="css/style.css" />

<script src="js/modernizr.custom.js"></script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="img/icons/favicon.ico">
</head>

<body onLoad="initialize()">
<div id="preloader">
	<img src="img/Preloader.gif" alt="Preloader" />
</div>

<!-- ::: START HEADER ::: -->

<header id="top">
	<div class="container">
		<div class="row">
        	<div class="col-md-3 col-sm-3 col-xs-6 logo">
                <a title="company Logo" href="http://cecmagnum.com"><img class="img-responsive" src="img/magnum-logo.png" style = "height:80px; padding:20px" alt="Company Logo" /></a>
            </div>
        	<div class="col-md-9 col-sm-8 col-xs-6 rightnav">
            	<ul class="list-inline">
                    <li class="phone"><a href="https://www.facebook.com/cecmagnum" title="Follow Us on Facebook"><i class="fa fa-facebook round BGprime" style = "position:relative; top:-5px" ></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
	</div><!-- end container -->
	
    
</header>
<!-- ::: END ::: -->

<!--  :::  HOME SLIDER ::: -->
<section id="slides">
  	<div class="slides-container">
  
      <div class="slide active">
        <div class="img"><img src="img/slider/slider_1.jpg" alt="slide" class="img-responsive"></div>
          <div class="slide-caption">
            <div class="container">
              <div class="box">
                <h1>MAGNUM'15</h1>
                <span>College of Engineering Chengannur</span>
              </div>
            </div>
          </div>
      </div><!-- end slide1 -->
      
      <div class="slide">
        <div class="img"><img src="img/slider/slider_2.jpg" alt="slide" class="img-responsive"></div>
          <div class="slide-caption">
            <div class="container">
              <div class="box">
                <h1>Technical Extravaganza</h1>
                <span>October 1 &amp; 2, 2015</span>
              </div>
            </div>
          </div>
      </div><!-- end slide2 -->
      
      <div class="slide">
        <div class="img"><img src="img/slider/slider_3.jpg" alt="slide" class="img-responsive"></div>
          <div class="slide-caption">
            <div class="container">
              <div class="box">
                <h1>Magnum'15</h1>
                <span>College of Engineering Chengannur</span>
              </div>
            </div>
          </div>
      </div><!-- end slide3 -->
      
  	</div><!-- end slides-container -->
 
    <div class="slides-navigation">
   <a class="prev sqaureIconSec" href="#"> <i class="fa fa-chevron-left"></i></a>
   <a class="next sqaureIconSec" href="#"> <i class="fa fa-chevron-right"></i></a>
  </div><!-- end slides-navigation -->
  
  <div class="shapes absShape">
      <div class="shape1 absShape"></div>
      <div class="shape2 absShape"></div>
     <!-- <div class="gradient absShape"></div>-->
  </div>
  
  <div class="holder"><i class="fa fa-chevron-down moreArrow moving"></i></div>
</section>
<!-- ::: END ::: -->

<!-- ::: START EVENT DATA ::: -->
<section id="event" class="eventData page-block BGdark text-center">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12 prime">
         <div class="dblBorder">
             <div class="dblBorderChild BGdark">
                <span class="sqaureIconPrime absolute"><i class="fa fa-calendar prime"></i></span>
                <h3>Event Date &amp; Time</h3>
                <p class="big"><strong>October 1 &amp; 2, 2015</strong><br><span>@</span>8.00 am</p>
             </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 secondary">
        <div class="dblBorder">
          <div class="dblBorderChild BGdark">
               <span class="sqaureIconSec absolute"><i class="fa fa-map-marker prime"></i></span> 
               <h3>Event Location</h3>
                <p class="big">College of Engineering<br>Chengannur</p>
            </div>
         </div>
      </div>
  
    </div><!-- end row -->
  </div><!-- end container --> 
</section>
<!-- ::: END ::: -->

<!-- ::: START  ::: -->
<section class="page-block">
  <div class="container text-center">
  	 <div class="col-md-10 col-md-offset-1 col-sm-12">
        <h2>Schedule</h2><hr>
        <p class="big">Checkout the schedule of CEC Magnum'15.</p>
        <hr>        
    </div>
  </div><!-- end container -->
</section>
<!-- ::: END ::: -->

<!-- ::: START  ::: -->
<section class="page-block">
    <h2>Day 1</h2>
    <h4 style = "text-align:center; color: #323232">October 1, 2015</h4><hr>
     <div class="container page-block">
      
      <div class="tabs clearfix">
        <div class="col-md-4 col-sm-4 col-xs-12"> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#E01" data-toggle="tab"><span><i class="fa fa-wrench"></i></span> Workshops</a></li>
              <li><a href="#E02" data-toggle="tab"><span><i class="fa fa-trophy"></i></span> Competitions</a></li>
              <li><a href="#E03" data-toggle="tab"><span><i class="fa fa-tasks"></i></span> Exhibitions</a></li>
              <li><a href="#E04" data-toggle="tab"><span><i class="fa fa-star"></i></span> General</a></li>              
            </ul>
        </div>
            
        <div class="col-md-8 col-sm-8 col-xs-12">
            <!-- Tab panes -->
            <div class="tab-content">
                
                <div class="tab-pane active" id="E01">
                  <h3><i class="fa fa-wrench"></i>Workshops</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "workshop") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "workshop") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "workshop") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="http://cecmagnum.com/register" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="E02">
                  <h3><i class="fa fa-trophy"></i>Competitions</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "competition") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "competition") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "competition") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="http://cecmagnum.com/register" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="E03">
                  <h3><i class="fa fa-tasks"></i>Exhibitions</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "exhib") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "exhib") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "exhib") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="#" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="E04">
                  <h3><i class="fa fa-star"></i>General</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "general") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "general") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 1 && event.eventmode == "general") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="http://cecmagnum.com/register" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                                                  
            </div><!-- end-tab-content -->
          </div>
       </div><!-- end-tabs -->
    </div><!-- end-container -->
        <hr>        
</section>
<!-- ::: END ::: -->
<section class="page-block">
    <h2>Day 2</h2>
    <h4 style = "text-align:center; color: #323232">October 2, 2015</h4><hr>
     <div class="container page-block">
      
      <div class="tabs clearfix">
        <div class="col-md-4 col-sm-4 col-xs-12"> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#D01" data-toggle="tab"><span><i class="fa fa-wrench"></i></span> Workshops</a></li>
              <li><a href="#D02" data-toggle="tab"><span><i class="fa fa-trophy"></i></span> Competitions</a></li>
              <li><a href="#D03" data-toggle="tab"><span><i class="fa fa-tasks"></i></span> Exhibitions</a></li>
              <li><a href="#D04" data-toggle="tab"><span><i class="fa fa-star"></i></span> General</a></li>              
            </ul>
        </div>
            
        <div class="col-md-8 col-sm-8 col-xs-12">
            <!-- Tab panes -->
            <div class="tab-content">
                
                <div class="tab-pane active" id="D01">
                  <h3><i class="fa fa-wrench"></i>Workshops</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "workshop") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "workshop") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "workshop") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="#" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="D02">
                  <h3><i class="fa fa-trophy"></i>Competitions</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "competition") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "competition") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "competition") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="#" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="D03">
                  <h3><i class="fa fa-tasks"></i>Exhibitions</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "exhib") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "exhib") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "exhib") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="#" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="D04">
                  <h3><i class="fa fa-star"></i>General</h3>
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Event</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "general") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul> 

                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Time</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "general") %>
                      <li><%= event.time %></li>
                      <%end%><%end%>
                  </ul> 
                  <ul class="list-default col-lg-0 col-lg-offset-0 col-md-4 col-md-offset-7 col-sm-12 col-xs-5 page-block-full">
                      <li><strong>Department</strong></li>
                      <% @events.each do |event| %>
                      <% if (event.daycount == 2 && event.eventmode == "general") %>
                      <li><%= event.dept %></li>
                      <%end%><%end%>
                  </ul> 
                  <a class="btn btn-primary" href="#" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
                </div><!-- end -->
                                                  
            </div><!-- end-tab-content -->
          </div>
       </div><!-- end-tabs -->
    </div><!-- end-container -->
        <hr>        
</section>
<!-- ::: END ::: -->


<!-- ::: END MAP ::: -->

<a href="#slides" class="top"><i class="fa fa-angle-up fa-lg"></i></a>


</body>


</html>