<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="description" content="Welcome to Electron Music Event Landing Page Template">
<meta name="keywords" content="music, event, enjoying, performer, guest, ticket, package, food, drink, seat, arrangement, guitar, live, concert ">
<meta name="author" content="Saptarang">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<script src="js/modernizr.custom.js"></script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="img/icons/favicon.ico">
<link rel="apple-touch-icon" href="img/icons/apple-icon-144x144.html">
<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.html">
<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.html">
</head>


<body onLoad="initialize()">
<div id="preloader">
  <img src="img/Preloader.gif" alt="Preloader" />
</div>

<!-- ::: START HEADER ::: -->

<header id="top">
  <div class="container">
    <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 logo">
                <a title="CEC Magnum 2015" href="http://cecmagnum.com"><img class="img-responsive" src="img/magnum-logo.png" style = "height:80px; padding:20px" alt="Logo" /></a>
            </div>
          <div class="col-md-9 col-sm-8 col-xs-6 rightnav">
              <ul class="list-inline">
                    <li class="phone"><a href="https://www.facebook.com/cecmagnum" title="Follow Us on Facebook"><i class="fa fa-facebook round BGprime" style = "position:relative; top:-5px" ></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
  </div><!-- end container -->
  
    <!-- START NAVIGATION -->
    <nav class="nav">
        <ul class="list-unstyled main-menu">
          <!--Include your navigation here-->
          <li class="text-right"><a href="#" id="nav-close"><i class="fa fa-close"></i></a></li>
          <li><a href="#slides" title="Home"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#event" title="Event Info"><i class="fa fa-info"></i> Info</a></li>
          <li><a href="#lineup" title="Lineup 2015"><i class="fa fa-calendar"></i> Lineup 2015</a></li>
          <li><a href="#artist" title="Workshops"><i class="fa fa-wrench"></i> Workshops</a></li>
          <li><a href="#features" title="Events"><i class="fa fa-th"></i> Events & Competitions</a></li>
          <li><a href="#register" title="About"><i class="fa fa-check"></i> Register</a></li>
          <li><a href="#about" title="About"><i class="fa fa-building"></i> About</a></li>
          <li><a href="#venue" title="Contact"><i class="fa fa-map-marker"></i> Location</a></li>
          <li><a href="#contact" title="Contact"><i class="fa fa-phone"></i> Contact</a></li>
        </ul>
    </nav>
              
    <div class="navbar navbar-inverse navbar-fixed-top">  
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            <i class="fa fa-bars fa-lg white"></i>
          </a>
        </div>
    </div>
    <!-- END NAVIGATION -->

</header>
<!-- ::: END ::: -->

<!--  :::  HOME SLIDER ::: -->
<section id="slides">
    <div class="slides-container">
  
      <div class="slide active">
        <div class="img"><img src="img/slider/slider_1.jpg" alt="slide" class="img-responsive"></div>
          <div class="slide-caption">
            <div class="container">
              <div class="box">
                <h1>MAGNUM'15</h1>
                <span>College of Engineering Chengannur</span>
              </div>
            </div>
          </div>
      </div><!-- end slide1 -->
      
      <div class="slide">
        <div class="img"><img src="img/slider/slider_2.jpg" alt="slide" class="img-responsive"></div>
          <div class="slide-caption">
            <div class="container">
              <div class="box">
                <h1>Technical Extravaganza</h1>
                <span>October 1 & 2, 2015</span>
              </div>
            </div>
          </div>
      </div><!-- end slide2 -->
      
      <div class="slide">
        <div class="img"><img src="img/slider/slider_3.jpg" alt="slide" class="img-responsive"></div>
          <div class="slide-caption">
            <div class="container">
              <div class="box">
                <h1>Magnum'15</h1>
                <span>College of Engineering Chengannur</span>
              </div>
            </div>
          </div>
      </div><!-- end slide3 -->
      
    </div><!-- end slides-container -->
 
    <div class="slides-navigation">
   <a class="prev sqaureIconSec" href="#"> <i class="fa fa-chevron-left"></i></a>
   <a class="next sqaureIconSec" href="#"> <i class="fa fa-chevron-right"></i></a>
  </div><!-- end slides-navigation -->
  
  <div class="shapes absShape">
      <div class="shape1 absShape"></div>
      <div class="shape2 absShape"></div>
     <!-- <div class="gradient absShape"></div>-->
  </div>
  <div class="container-fluid absShape">
      <div class="BGprime first col-md-6 col-sm-6 col-xs-12">
          <div class="countdown styled"></div>
      </div>
      <div class="BGsecondary col-md-6 col-sm-6 col-xs-12">
          <a class="btn join smooth" href="#register" title="Join the event">JOIN THE EVENT</a>
      </div>
  </div>
  
  <div class="holder"><i class="fa fa-chevron-down moreArrow moving"></i></div>
</section>
<!-- ::: END ::: -->

<!-- ::: START EVENT DATA ::: -->
<section id="event" class="eventData page-block BGdark text-center">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12 prime">
         <div class="dblBorder">
             <div class="dblBorderChild BGdark">
                <span class="sqaureIconPrime absolute"><i class="fa fa-calendar prime"></i></span>
                <h3>Event Date &amp; Time</h3>
                <p class="big"><strong>October 1 & 2, 2015</strong><br><span>@</span>8.00 am</p>
             </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 secondary">
        <div class="dblBorder">
          <div class="dblBorderChild BGdark">
               <span class="sqaureIconSec absolute"><i class="fa fa-map-marker prime"></i></span> 
               <h3>Event Location</h3>
                <p class="big">College of Engineering<br>Chengannur</p>
            </div>
         </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <a class="btn smooth btn-lg" href="#venue" title="Get Directions"><i class="fa fa-arrow-circle-o-right"></i> Get Directions</a>
      </div>
  
    </div><!-- end row -->
  </div><!-- end container --> 
</section>
<!-- ::: END ::: -->

<!-- ::: START  ::: -->
<section class="page-block">
  <div class="container text-center">
     <div class="col-md-10 col-md-offset-1 col-sm-12">
        <h2>MAGNUM'15</h2><hr>
        <p class="big">Magnum is the technical extravaganza of College of Engineering, Chengannur. Being one of its kind, Magnum is an endeavor to provide a national platform to the youth to showcase their talents and skill sets in the field of technology.</p>
        <hr>
        <h5>Check it out</h5><br>
        <p><span class="sqaureIconSec"><i class="fa fa-chevron-down"></i></span></p>
    </div>
  </div><!-- end container -->
</section>
<!-- ::: END ::: -->


<!-- ::: START LINEUP AND SUBSCRIBE ::: -->
<section id="lineup" class="page-block">

  <!-- OTHER LINEUP EVENTS -->
  <div class="container-wide">
    <div class="row">
        
      <h2>Lineup <span>2015</span></h2>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <p class="text-center">Checkout our unique events, the highlights of Magnum!  </p>
      </div>
      <div class="clearfix"></div>
      <div id="upcoming" class="owl-carousel">
           
         <div class="item">
            <div class="img">
                <img src="img/lineup/gyan.jpg" alt="Name">
                <a class="sqaureIconPrime" href="#" title="Name"> <i class="fa fa-link"></i> </a>
            </div>
            <div class="info">
                <h6>Gyan - Quiz for HSS Students</h6>
                <i class="fa fa-calendar"></i> Ongoing
            </div>
         </div><!-- end -->
         
         <div class="item">
            <div class="img">
                <img src="img/lineup/photo.jpg" alt="Name">
                <a class="sqaureIconPrime" href="#" title="Name"> <i class="fa fa-link"></i> </a>
            </div>
            <div class="info">
                <h6>Lens War</h6>
                <i class="fa fa-calendar"></i> 1 - 2 Oct, 2015
            </div>
         </div><!-- end -->
         
         <div class="item">
            <div class="img">
                <img src="img/lineup/paper.jpg" alt="Name">
                <a class="sqaureIconPrime" href="#" title="Name"> <i class="fa fa-link"></i> </a>
            </div>
            <div class="info">
                <h6>Paper Presentation</h6>
                <i class="fa fa-calendar"></i> 1 Oct, 2015
            </div>
         </div><!-- end -->
         
                 <div class="item">
            <div class="img">
                <img src="img/lineup/gyan.jpg" alt="Name">
                <a class="sqaureIconPrime" href="#" title="Name"> <i class="fa fa-link"></i> </a>
            </div>
            <div class="info">
                <h6>Gyan - Quiz for HSS Students</h6>
                <i class="fa fa-calendar"></i> Ongoing
            </div>
         </div><!-- end -->
         
         <div class="item">
            <div class="img">
                <img src="img/lineup/photo.jpg" alt="Name">
                <a class="sqaureIconPrime" href="#" title="Name"> <i class="fa fa-link"></i> </a>
            </div>
            <div class="info">
                <h6>Lens War</h6>
                <i class="fa fa-calendar"></i> 1 - 2 Oct, 2015
            </div>
         </div><!-- end -->
         
         <div class="item">
            <div class="img">
                <img src="img/lineup/paper.jpg" alt="Name">
                <a class="sqaureIconPrime" href="#" title="Name"> <i class="fa fa-link"></i> </a>
            </div>
            <div class="info">
                <h6>Paper Presentation</h6>
                <i class="fa fa-calendar"></i> 1 Oct, 2015
            </div>
         </div><!-- end -->         
                   
      </div><!-- end-carousel -->
              
     </div><!-- end row -->
    </div><!-- end container -->

</section>
<!-- ::: END ::: -->

<section id="performers" class="BGprime">
  
  <!-- OTHER PERFORMERS --> 
  <section id="artist" class="experts BGdark">
    <div class="highlightBox">
      <div class="boxBg page-block">
        <div class="container">
          <div class="row">
          
              <div class="line"></div>
              
              <h2 class="white">Workshops</h2>
              <div id="celebs" class="owl-carousel">
               
               <div class="item">
                  <div class="img">
                      <img src="img/images/django.jpg" alt="Name">
                  </div>
                  <div class="sqaureIconPrime"> <i class="fa fa-angle-down"></i> </div>
                  
                  <h4>Python-Django</h4>
                  <i class="fa fa-info"></i> Computer<br>  
                  <i class="fa fa-time"></i> 2 days<br>
                  <a class="btn smooth btn-lg" href="http://cecmagnum.com/csevents" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
               </div><!-- end -->
               
               <div class="item">
                  <div class="img">
                      <img src="img/images/nodejs.jpg" alt="Name">
                  </div>
                  <div class="sqaureIconPrime"> <i class="fa fa-angle-down"></i> </div>
                  
                  <h4>NodeJS</h4>
                  <i class="fa fa-info"></i> Computer<br>
                  <i class="fa fa-time"></i> 2 days<br>
                  <a class="btn smooth btn-lg" href="http://cecmagnum.com/csevents" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
               </div><!-- end -->
               
               <div class="item">
                  <div class="img">
                      <img src="img/images/plc.jpg" alt="Name">
                  </div>
                  <div class="sqaureIconPrime"> <i class="fa fa-angle-down"></i> </div>
                  
                  <h4>PLC SCADA</h4>
                  <i class="fa fa-info"></i> Electrical<br>
                  <i class="fa fa-time"></i> 2 days<br>
                  <a class="btn smooth btn-lg" href="http://cecmagnum.com/eeevents" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
               </div><!-- end -->
               
               <div class="item">
                  <div class="img">
                      <img src="img/images/arduino.jpg" alt="Name">
                  </div>
                  <div class="sqaureIconPrime"> <i class="fa fa-angle-down"></i> </div>
                  
                  <h4>Advanced Robotics</h4>
                  <i class="fa fa-info"></i> Electronics<br>
                  <i class="fa fa-time"></i> 2 days<br>
                  <a class="btn smooth btn-lg" href="http://cecmagnum.com/ecevents" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
               </div><!-- end -->
               
               <div class="item">
                  <div class="img">
                      <img src="img/images/django.jpg" alt="Name">
                  </div>
                  <div class="sqaureIconPrime"> <i class="fa fa-angle-down"></i> </div>
                  
                  <h4>Python-Django</h4>
                  <i class="fa fa-info"></i> Computer<br>  
                  <i class="fa fa-time"></i> 2 days<br>
                  <a class="btn smooth btn-lg" href="http://cecmagnum.com/csevents" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
               </div><!-- end -->
               
               <div class="item">
                  <div class="img">
                      <img src="img/images/nodejs.jpg" alt="Name">
                  </div>
                  <div class="sqaureIconPrime"> <i class="fa fa-angle-down"></i> </div>
                  
                  <h4>NodeJS</h4>
                  <i class="fa fa-info"></i> Computer<br>
                  <i class="fa fa-time"></i> 2 days<br>
                  <a class="btn smooth btn-lg" href="http://cecmagnum.com/csevents" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
               </div><!-- end -->
               
               
             </div><!-- end Carousel -->
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </section>
</section>
<!-- ::: END ::: -->
  
<!-- ::: START FEATURES ::: -->
<section id="features" class="features">
  <div class="container page-block text-center">
     <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="row">
        <h2>Highlights</h2><hr>
            <p class="big">Magnum'15 will be organized with a view to depict the largest trends and technologies in the industry. Magnum'15 aims to increase the technical awareness of the students in the diverse field of Engineering and provides a platform for competitors from different fields of Engineering like Electronics, Computer, Electrical ,Robotics etc to exhibit their technical skills. It also provides an opportunity for school students to take part. Magnum'15 also has technical workshops, industrial exhibitions,technical talks, competitions and a lot more!</p>
            <hr>
            <h5>Check it out</h5><br>
            <p><span class="sqaureIconSec"><i class="fa fa-chevron-down"></i></span></p>
        </div>
     </div>
  </div>

        
      <span class="sqaureIconSec absolute more"><i class="fa fa-plus"></i></span> 
      
    </div>
  </div>
</section>
<!-- ::: END ::: -->

<!-- ::: START FEATURES ::: -->
<section class="BGlight">

  <!-- START TABS -->
  <div class="container page-block">
      
      <div class="tabs clearfix">
        <div class="col-md-4 col-sm-4 col-xs-12"> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#E01" data-toggle="tab"><span><i class="fa fa-sitemap"></i></span> Computer</a></li>
              <li><a href="#E02" data-toggle="tab"><span><i class="fa fa-wrench"></i></span> Electronics</a></li>
              <li><a href="#E03" data-toggle="tab"><span><i class="fa fa-bolt"></i></span> Electrical</a></li>
              <li><a href="#E04" data-toggle="tab"><span><i class="fa fa-star"></i></span> General</a></li>              
            </ul>
        </div>
            
        <div class="col-md-8 col-sm-8 col-xs-12">
            <!-- Tab panes -->
            <div class="tab-content">
                
                <div class="tab-pane active" id="E01">
                  <h3><i class="fa fa-sitemap"></i>Computer</h3>
                  <ul class="list-default">
                      <% @events.each do |event| %>
                      <% if (event.dept == "Computer Science") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul>  
                  <a class="btn btn-primary" href="http://cecmagnum.com/csevents" title="More Details"><i class="fa fa-arrow-circle-o-right"></i> More Details</a>                  
                </div><!-- end -->
                
                <div class="tab-pane" id="E02">
                  <h3><i class="fa fa-wrench"></i>Electronics</h3>
                  <ul class="list-default">
                      <% @events.each do |event| %>
                      <% if (event.dept == "Electronics") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul>  
                  <a class="btn btn-primary" href="http://cecmagnum.com/ecevents" title="More Details"><i class="fa fa-arrow-circle-o-right"></i> More Details</a>
                </div><!-- end -->
                
                <div class="tab-pane" id="E03">
                  <h3><i class="fa fa-bolt"></i>Electrical</h3>
                  <ul class="list-default">
                      <% @events.each do |event| %>
                      <% if (event.dept == "Electrical") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul>
                  <a class="btn btn-primary" href="http://cecmagnum.com/eeevents" title="More Details"><i class="fa fa-arrow-circle-o-right"></i> More Details</a>                  

                </div><!-- end -->
                
                <div class="tab-pane" id="E04">
                  <h3><i class="fa fa-star"></i>General</h3>
                  <ul class="list-default">
                      <% @events.each do |event| %>
                      <% if (event.dept == "General") %>
                      <li><%= event.title %></li>
                      <%end%><%end%>
                  </ul>
                  <a class="btn btn-primary" href="http://cecmagnum.com/genevents" title="More Details"><i class="fa fa-arrow-circle-o-right"></i> More Details</a> 
                </div><!-- end -->
                                                  
            </div><!-- end-tab-content -->
          </div>
       </div><!-- end-tabs -->
    </div><!-- end-container -->
    
</section>
<!-- ::: END ::: -->


<!-- ::: START  ::: -->
<section id = "register" class="BGdark page-block">
  <div class="container text-center">
     <div class="col-md-10 col-md-offset-1 col-sm-12">
        <h2 style = "color:white">Registrations</h2><hr>
        <a class="btn btn-primary" href = "http:cecmagnum.com/register"><i class="fa fa-arrow-circle-o-right"></i>Register</a>
        <hr>
        <h5>Stay Tuned!</h5><br>        
    </div>
  </div><!-- end container -->
</section>
<!-- ::: END ::: -->



<!-- ::: START ABOUT ::: -->
<section id="about" class="page-block">
  <div class="container">
    <div class="row">        
        <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-12">
          <h2>About the college</h2>
          <p>The College of Engineering Chengannur (established in 1993), commonly known as CEC, is an engineering institute located in Chengannur, Alappuzha. The college was set up under the auspices of the Institute of Human Resources Development (IHRD), is affiliated to the Cochin University of Science and Technology, Kochi, and the courses are recognized by AICTE and accredited by NBA, the National Board of Accreditation, India. CEC is the Best Engineering College after Model Engineering College in Kerala under CUSAT, as per the statistics of Director of Technical Education, Kerala, who is the final voice of technical education in Kerala State. </p>
          <p>The courses offered are designed to cater to the industry’s urgent demand for skilled professionals and with a vision to create engineers having the drive, skill and confidence to become the pioneers to tomorrow.</p>
          <a class="btn btn-default" href="http://ceconline.edu/" title="Company Name"><i class="fa fa-globe"></i> Visit Our Website</a>
        </div>  
    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- ::: END ::: -->


<!-- ::: START FEATURES ::: -->
<section class="BGlight">

  <!-- START TABS -->
  <div class="container page-block">
      
      <div class="tabs clearfix">
        <div class="col-md-4 col-sm-4 col-xs-12"> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#01" data-toggle="tab"><span><i class="fa fa-map-marker"></i></span> Accessibility</a></li>
              <li><a href="#02" data-toggle="tab"><span><i class="fa fa-music"></i></span> Admission</a></li>
              <li><a href="#03" data-toggle="tab"><span><i class="fa fa-star"></i></span> Pricing</a></li>
              <li><a href="#04" data-toggle="tab"><span><i class="fa fa-hotel"></i></span> Accomodation</a></li>
              <li><a href="#07" data-toggle="tab"><span><i class="fa fa-glass"></i></span> Food &amp; Beverages</a></li>
              <li><a href="#08" data-toggle="tab"><span><i class="fa fa-bullhorn"></i></span> Rules &amp; Safety</a></li>              
            </ul>
        </div>
            
        <div class="col-md-8 col-sm-8 col-xs-12">
            <!-- Tab panes -->
            <div class="tab-content">
                
                <div class="tab-pane active" id="01">
                  <h3><i class="fa fa-map-marker"></i>Accessibility</h3>
<p>The event is at College of Engineering Chengannur, located at the heart of Chengannur town. It is walking distance from the KSRTC Bus Stand. Chengannur has a railway station as well, from which an auto must be taken (a distance of 1.5 km). The college is well known in the region, and directions will be easy to get.</p>
<p>Located opposite Fire Station, adjacent to Police Station. </p>
                  <a class="btn btn-primary smooth" href="#venue" title="Get Directions"><i class="fa fa-arrow-circle-o-right"></i> Get Directions</a>
                  
                </div><!-- end -->
                
                <div class="tab-pane" id="02">
                  <h3><i class="fa fa-music"></i>Admission</h3>
<p>The event is targeted at engineering students throughout the state, but is open to anyone and everyone. Workshops and compeitions may be only for engineering students, but there are a myriad of exhibitions and non-technical competitions that can be participated by any. </p> 
                  <!--ul class="list-default">
                      <li>Pellentesque habitant morbi tristique senectus</li>
                      <li>Aet netus et malesuada fames ac turpis egestas</li>
                      <li>Aliquam dapibus dolor mi, sed viverra orci ultrices eu</li>
                      <li>In cursus odio vitae mi dignissim maximus. Maecenas nec lorem arcu</li>
                      <li>God rbi arcu sapien, lobortis imperdiet egestas quis, aliquet vitae lacus</li>
                  </ul-->
                </div><!-- end -->
                
                <div class="tab-pane" id="03">
                  <h3><i class="fa fa-star"></i>Pricing</h3>
                  <p> There are flexible plans of tickets. Participants may opt for a single event, day, or an All-Pass with which every event can be attended. Pricing details are given below, do check it out.</p>
                  <!--a class="btn btn-primary" href="#pricing" title="Get Directions"><i class="fa fa-arrow-circle-o-right"></i> Pricing</a-->
                </div><!-- end -->
                
                <div class="tab-pane" id="04">
                  <h3><i class="fa fa-hotel"></i>Accomodation</h3>
                  <p>Accomodation will be provided upon request, for September 30, October 1, or both. It will be separate for ladies and gents. All facilities will be provided, but you must bring extra bedsheets. Dinner will be provided for ladies only.</p>
                  <p>Accomodation will cost extra, depending upon the number of days required. For one day, it will cost Rs 100 for gents and Rs 150 for ladies.</p>
                  <!--a class="btn btn-primary" href="#pricing" title="Check Hotel"><i class="fa fa-arrow-circle-o-right"></i> Check Hotel</a-->
                </div><!-- end -->
                
                <div class="tab-pane" id="07">
                  <h3><i class="fa fa-glass"></i>Food &amp; Beverages</h3>
                  <p> Food will be available in the campus at all times, and must be paid extra. Registration Fees for some workshops will cover the cost of lunch, anything extra needs to be paid.</p>
                  <p>If accomodation is required, ladies will be provided with dinner, while gents need to find their own means. There are a myriad of restaurents at Chengannur, and our volunteers would be happy to direct you to the best ones.</p>
                </div><!-- end -->
                
                <div class="tab-pane" id="08">
                  <h3><i class="fa fa-bullhorn"></i>Rules &amp; Safety</h3>
                  <p> Participants are expected to arrive on time for their events, so delays can be avoided. Workshops and competitions will start on time, while sessions and talks may be adjusted to suit the speakers.</p>
                  <!--ul class="list-default">
                      <li>Pellentesque habitant morbi tristique senectus</li>
                      <li>Aet netus et malesuada fames ac turpis egestas</li>
                      <li>Aliquam dapibus dolor mi, sed viverra orci ultrices eu</li>
                      <li>In cursus odio vitae mi dignissim maximus. Maecenas nec lorem arcu</li>
                      <li>God rbi arcu sapien, lobortis imperdiet egestas quis, aliquet vitae lacus</li>
                  </ul-->
                </div><!-- end -->
                
                                  
            </div><!-- end-tab-content -->
          </div>
       </div><!-- end-tabs -->
    </div><!-- end-container -->
    
</section>
<!-- ::: END ::: -->


<!-- ::: BEGIN-VENUE ::: -->
<section id="venue" class="BGdark">
  <div class="container-wide">
    <div id="map_canvas"> </div>
  </div>
  <div class="container">
    <div class="row">
     
      <div class="col-md-12 text-center"><h2>Event Location</h2></div>
        
        <div class="col-md-3 col-sm-3">
          <div class="column-content">
            <ul class="address">
              <li> 
                  <i class="fa fa-map-marker"></i> <strong>Event Location</strong><br>
                  College of Engineering<br>
                  Chengannur, Alapuzha
              </li>
              <li> 
                  <i class="fa fa-phone"></i> <strong>Call Us</strong><br>
                  854.71.42111
              </li>
              <li> 
                  <i class="fa fa-envelope"></i> <strong>Email Us</strong><br>
                  <a href="mailto:info@yourdomain.com">info@cecmagnum.com</a> 
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-9 col-sm-9">
          <div class="col-sm-12 directions-input">
            <h4>Get Directions</h4>
            <form action="#" onSubmit="calcRoute();return false;" id="routeForm">
              <div class="col-sm-6">
                  <label for="routeStart"><strong>Destination From:</strong></label>
                  <input type="text" id="routeStart" placeholder="Kochi, Kerala">
              </div>
              <div class="col-sm-6">
                  <label for="routeVia"><strong>Via(Optional):</strong> </label>
                  <input type="text" id="routeVia" value="">
              </div>
              <div class="col-sm-7">
                <label>Travel mode:</label>
                <div class="clearfix">
                    <label class="radio-option" for="travelMode1">
                      <input type="radio" name="travelMode" id="travelMode1" value="DRIVING" checked />
                      Driving
                    </label>
                    <label class="radio-option" for="travelMode2">
                      <input type="radio" name="travelMode" id="travelMode2" value="BICYCLING" />
                      Bicylcing
                    </label>
                    <label class="radio-option" for="travelMode3">
                      <input type="radio" name="travelMode" id="travelMode3" value="TRANSIT" />
                      Public transport
                    </label>
                    <label class="radio-option last" for="travelMode4">
                      <input type="radio" name="travelMode" id="travelMode4" value="WALKING" />
                      Walking
                    </label>
                </div>
              </div>
              <div class="col-sm-5">
                <input type="submit" value="&#xf041; Get Directions" class="btn btn-primary">
              </div>
            </form>
        </div>
          
        <div class="col-sm-12 column directions-results">
          <div class="column-content">
            <h4>Directions</h4>
            <div id="directionsPanel"> Enter <strong>Destination From</strong> under <strong>Get Directions</strong> and Click on Get Directions Button. </div>
          </div>
        </div>
            
      </div>
    </div><!--end-of-row--> 
  </div>
  
</section>
<!-- ::: END MAP ::: -->

<!-- ::: START CONTACT ::: -->
<section id="contact" class="page-block BGsecondary">
  <div class="container">
     <div class="row">
     
        <div class="col-md-3 col-sm-12">
           <h2>Questions?</h2>
        </div>
        
        <div class="col-md-9 col-sm-12 social">
          <ul class="list-inline text-center">
            <li><a href="https://www.facebook.com/cecmagnum" data-toggle="tooltip" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/cecmagnum" data-toggle="tooltip" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
            
         <div class="col-md-12 col-sm-12">
            
            <div class="contactForm" id="contact_form" >
            <%= form_for(:message, :url => {:action => 'newmessage'}) do |f| %>
                <div class="row">
                <div class="form-row col-sm-4">
                  <%= f.text_field(:name, :placeholder => 'Name') %>
                </div>
                <div class="form-row col-sm-4">
                  <%= f.text_field(:phone,  :placeholder => 'Phone') %>
                </div>
                <div class="form-row col-sm-4">
                  <%= f.text_field(:email,  :placeholder => 'email') %>
                </div>
                </div>
                <div class="form-row">
                  <%= f.text_area(:message, :placeholder => 'Your Message')%>
                </div>
                <div class="form-row text-center">
                  <input type="text" id="security" name="security" class="hide" value="" />
                  <input type="submit" value="&#xf1d8; send message" class="btn btn-dark btn-lg" id="submit" name="submit" />
                </div>
                <% if flash[:notice] %>
                <div class="bg-info"><%= flash[:notice] %></div>
        <% end %>
              <%end%>
            </div>
            
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- ::: END MAP ::: -->

<!-- ::: START COPYRIGHT ::: -->



</body>


</html>