<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>:: Magnum 2015 - College of Engineering Chengannur ::</title>
<meta name="description" content="Welcome to Electron Music Event Landing Page Template">
<meta name="keywords" content="music, event, enjoying, performer, guest, ticket, package, food, drink, seat, arrangement, guitar, live, concert ">
<meta name="author" content="Saptarang">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font Code -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/color.css" />
<link rel="stylesheet" href="css/style.css" />

<script src="js/modernizr.custom.js"></script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicon and Apple Icons -->
<link rel="shortcut icon" href="img/icons/favicon.ico">
<link rel="apple-touch-icon" href="img/icons/apple-icon-144x144.html">
<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.html">
<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.html">
</head>

<body onLoad="initialize()">
<div id="preloader">
  <img src="img/Preloader.gif" alt="Preloader" />
</div>

<!-- ::: START HEADER ::: -->

<header id="top">
  <div class="container">
    <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 logo">
                <a title="CEC Magnum'15" href="http://www.cecmagnum.com/"><img class="img-responsive" src="img/magnum-logo.png" style = "height:80px; padding:20px" alt="Company Logo" /></a>
            </div>
          <div class="col-md-9 col-sm-8 col-xs-6 rightnav">
              <ul class="list-inline">
                    <li class="phone"><a href="https://www.facebook.com/cecmagnum" title="Follow Us on Facebook"><i class="fa fa-facebook round BGprime" style = "position:relative; top:-5px" ></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
  </div><!-- end container -->
  
    
</header>
<!-- ::: END ::: -->



<section class="page-block">
  <div class="container text-center">
     <div class="col-md-10 col-md-offset-1 col-sm-12">
        <h2>Electrical Events</h2><hr>
        <p class="big">Magnum offers a myriad of electrical events to choose from. Workshops, competitions and events make Magnum a must-visit event for any passionate electrical student. </p>
        <hr>
        <h5>Check it out</h5><br>
        <p><span class="sqaureIconSec"><i class="fa fa-chevron-down"></i></span></p>
    </div>
  </div><!-- end container -->
</section>
<!-- ::: END ::: -->


<section class="page-block">
  <div class="container-wide">
    <div class = "col-lg-0 col-lg-offset-0 col-md-0 col-md-offset-5  col-sm-12 col-xs-5 BGprime page-block-full" style="padding:0px"> <!--image on right-->
     <div class="col-lg-6 col-lg-offset-0 col-md-0 col-md-offset-5 col-sm-6 col-xs-6 BGprime page-block-full" style="display:inline-block; float:left;">
        <h3 class = "white">PLC SCADA Workshop</h3><br>
        <h4 style = "color:white">Workshop</h4>
        <hr class="light">
        <p class="big" style = "color:white">Magnum offers a myriad of computer science events to choose from. Workshops, competitions and events make Magnum a must-visit event for any passionate Computer Science student. </p>
        <hr class="light">
        <a class="btn smooth btn-lg" href="register.html" title="Get Directions"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
     </div>

     <div class="col-lg-0 col-lg-offset-0 col-md-6 col-md-offset-7 col-sm-12 col-xs-5 BGprime page-block-full" style="display:inline-block; float:left; padding:0px">        
        <img src = "img/images/plc2.jpg" style="max-width:100%;">
     </div>
    </div>
  </div><!-- end container -->
</section>

<section id="event" class="eventData page-block BGdark text-center">
  <div class="container">
    <div class="row">

<% @events.each do |event| %>

      <div class="col-md-6 col-sm-6 col-xs-12 <%= cycle('prime', 'secondary') %>">
         <div class="dblBorder">
             <div class="dblBorderChild BGdark">
                <h3><%= event.title %></h3>
                <p class="big">Competition</p><br>
                <p><%= event.about %></p><br>
                <p>
                <% if(event.eventmode != "workshop" && event.eventmode != "exhib") %>
                   Prize Money:<%= event.prize %>
                 <% end %>
                </p><br>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
                data-target="#<%= event.id %>">
                <i class="fa fa-arrow-circle-o-right"></i>Register
             </div>
         </div>
      </div>
<%end%>     
    </div><!-- end row -->

  </div><!-- end container --> 
</section>
<div class="modal fade" id="modal_nodejs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Node JS Workshop</h2>
            <p>Magnum offers a myriad of computer science events to choose from. Workshops, competitions and events make Magnum a must-visit event for any passionate Computer Science student. </p>
            <a class="btn btn-default" href="http://cecmagnum.com/register" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_pydj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Python-Django Workshop</h2>
            <p>Magnum offers a myriad of computer science events to choose from. Workshops, competitions and events make Magnum a must-visit event for any passionate Computer Science student. </p>
            <a class="btn btn-default" href="http://cecmagnum.com/register" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% @events.each do |event| %>
<!-- Modals -->
<div class="modal fade" id="<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="<%= event.title %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2><%= event.title %></h2>
            <p><%= event.about %></p>
            <a class="btn btn-default" href="http://cecmagnum.com/register" title="Register"><i class="fa fa-arrow-circle-o-right"></i> Register</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%end%>


<a href="#slides" class="top"><i class="fa fa-angle-up fa-lg"></i></a>

<!--START SCRIPTS -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="js/directions.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/placeholders.js"></script>
<script type="text/javascript" src="js/jquery.superslides.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/master.js"></script>
</body>