.custompads
{
	margin-right: 1%;
	margin-left: 1%;
}

.customh1
{
	margin: 1%;
}

.customperdin
{
	color: red;
}

.cust_reg_pads
{
	padding-top: 30px;
	padding-bottom: 10px;
}
.cust_reg_pads2
{
	margin-top: 5px;
	padding-bottom: 10px;
}

.customredhead
{
	color: #FF4800;
}

.custom-recap-pad
{
	margin-top: 10px;
}
.custom_form_pad
{
	margin-top: 20px;
	padding-top: 40px;
}