<% if flash[:notice] %>
    <div class="bg-info"><%= flash[:notice] %></div>
<% end %>
<% @page_title = "Registration" %>


<body onLoad="initialize()">


<!-- ::: START CONTACT ::: -->
<section id="contact" class="page-block BGsecondary">
  <div class="container">
     <div class="row">
     
        <div class="col-md-3 col-sm-12">
           <h2>Registration</h2>
        </div>

        <div class="col-md-9 col-sm-12 social">
          <ul class="list-inline text-center">
            <li><a href="https://www.facebook.com/cecmagnum" data-toggle="tooltip" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/cecmagnum" data-toggle="tooltip" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        </div>
    </div>
<div class="container">
      <div class="BGprime col-md-6 col-sm-0 col-xs-6">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Pointers For Registration
            </button>
      </div>
      <div class="BGprime col-md-6 col-sm-0 col-xs-6">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
              List of Events
            </button>
      </div>
</div>
<div class="container">
     <div class="row">
         <div class="col-md-12 col-sm-12">
            
            <div class="contactForm">
              <div id="contact_form">
               <%= form_for(:register, :id => "form1", :url => {:action => 'create'}) do |f| %>
                <div class="row">
                <div class="form-row col-sm-4">
                  <%= f.text_field(:name, :placeholder => 'Full Name') %>
                </div>
                <div class="form-row col-sm-4">
                  <%= f.text_field(:phone, :placeholder => 'Phone') %>
                </div>
                <div class="form-row col-sm-4">
                  <%= f.text_field(:email, :placeholder => 'Email ID') %>
                </div>
                </div>
                <div class="row">
                <div class="form-row col-sm-4">
                  <%= f.text_field(:branch, :placeholder => 'Branch of Study') %>
                </div>
                <div class="form-row col-sm-4">
                  <%= f.text_field(:college, :placeholder => 'College') %>
                </div>
                <div class="form-row col-sm-4">
                </div>
                </div>
                <div class = "row">
                <div class="form-row col-sm-4">
                    <p>Semester:</p>
                    <div class = "select-style">
                    <%= f.select(:sem, 1..8,  :placeholder => 'Semester') %>
                    </div>
                </div>
                <div class="form-row col-sm-4">
                    <p class = "big">Accomodation Required?
                    <%= f.check_box(:acco, :placeholder => 'Accomodation') %></p>
                </div>
                </div>

                <div class="row">
                  <h2>Workshops</h2>
                    <div class="form-row col-sm-4">
                    <p>Select your workshop</p>
                    <%= f.select('event1', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-6">
                      <p>Your Team's Name</p>
                      <%= f.text_field(:groupname1, :placeholder => 'Group Name') %>
                    </div>
                </div>

                <div class="row">
                  <h2>Competition and general</h2>
                   <div class="form-row col-sm-4">
                    <p>Select Event Two</p>
                    <%= f.select('event2', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-4">
                    <p>Select Event Three</p>
                    <%= f.select('event3', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-4">
                    <p>Select Event Four</p>
                    <%= f.select('event4', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                  </div>
                  <br>
                  <Br>
                  <div class="row">
                    <div class="form-row col-sm-4">
                      <p>Select Event Five</p>
                    <%= f.select('event5', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-4">
                      <p>Select Event Six</p>
                      <%= f.select('event6', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-4">
                    <p>Select Event Seven</p>
                    <%= f.select('event7', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                </div>
                <Br><br>
                <div class="row">
                  <div class="form-row col-sm-4">
                    <p>Select Event Eight</p>
                    <%= f.select('event8', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-4">
                    <p>Select Event Nine</p>
                    <%= f.select('event9', options_for_select(@events.collect{ |e| [e.title, e.title] }), :prompt => 'Select') %>
                    </div>
                    <div class="form-row col-sm-4">
                    </div>
                </div>

                <br><br>
            
                <div class="form-row text-center">
                  <%= recaptcha_tags %>
                  <%= submit_tag "REGISTER", class: "btn btn-dark btn-lg" %>
                </div>
              </div>
            </div>
            
      </div>
    </div><!-- end row -->
    <%end%>
  </div><!-- end container -->
</section>






<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>POINTERS</h2>
                <ul class="text-left">
                    <li>Name, Branch Of Study, College and Semester fields are Requried</li>
                    <li>If not an IEEE Member, leave the Member Number field blank</li>
                    <li>You can participate in at the most 9 Events</li>
                    <li>Check events you need to participate. Leave blank others.</li>
                </ul>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>LIST OF EVENTS</h2>
                <ul class="text-left">
                <% @events.each do |event| %>
                    <li><%= event.title %></li>
                <%end%>
                </ul>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="js/directions.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/placeholders.js"></script>
<script type="text/javascript" src="js/jquery.superslides.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/master.js"></script>

</body>