<section class ="container-fluid">
	<div class="row page-block BGsecondary">
	<div class="col-lg-12 text-center">
		<h1>REGISTERED!</h1>
		<p>
			You have successfully registered for Magnum 2015 | See you soon!
		</p>
		<p>
			<div class="col-sm-12 cust_reg_pads">
			    <%= link_to("MAGNUM", 'http://cecmagnum.com', class: "btn btn-dark btn-lg") %>
			</div>
		</p>
	</div>
	</div>
</section>