<!DOCTYPE html>
<html>
<head>
  <title>Magnum</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "default" %>

<footer id="copyright" class="page-block-small BGprime">
  <div class="container text-center"> 
    <div class="row">
    
      <p>Magnum &copy; 2015. All Rights Reserved.<br> Developed by the CEC WebTeam</p>
      
    </div><!-- end row -->
  </div><!-- end container -->
</footer>
<!-- ::: END MAP ::: -->
<a href="#slides" class="top"><i class="fa fa-angle-up fa-lg"></i></a>
<!--START SCRIPTS -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="js/directions.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/placeholders.js"></script>
<script type="text/javascript" src="js/jquery.superslides.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/master.js"></script>
</body>
</html>
